header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.games {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.pastGames, .futureGames{
  width: 45vw;
  text-align: center;
}
.gameInfo {
  margin: 1vw;
  border: 1px solid black;
}
.gameScoreSpacing {
  display: flex;
  justify-content: space-between;
}
.defineDate {
  /*border: 5px dotted red;*/
}
